.my-color {
  color: red;
}

.my-font {
  font-family: 'Work Sans';
}

.my-root-class {
  background: url(./assets/background_signin_template.png);
}

.my-root-class body {
  background: url(./assets/background_signin_template.png);
}
